<div>
  <% @partnerships.each do |partnership| %>
    <div>
      <%= partnership.partner.name %>
      <% if current_user.partner_with?(partnership.partner) %>
        <%= link_to 'Message', '', class: primary_btn_style %>
      <% else %>
        <%= link_to 'Accept', '', class: primary_btn_style %>
        <%= link_to 'Reject', '', class: danger_btn_style %>
      <% end %>
    </div>
  <% end %>
</div>
