<div>
  <% @partners.each do |partner| %>
    <div>
      <%= partner.name %>
      <%= link_to 'Message', '', class: primary_btn_style %>
      <%= link_to 'Delete', '', class: danger_btn_style %>
    </div>
  <% end %>
</div>
