<p>Conversation with: <%= @chat.host.name %></p>
<p><%= @chat.post.description %></p>
<div id='messages'>
  <%= render @messages %>
</div>

<div class='mt-10'>
  <%= render template: 'messages/new', locals: { message: @message } %>
</div>
